html {
font-family: 'Times New Roman', Times, serif;
background: linear-gradient(180deg, #0f6a9e, #84daf5, #affffa, #ffffff);
}

.home-btn {
    color: aliceblue;
    padding: 15px 290px;
    text-decoration: none;
}

.events-btn {
    color: aliceblue;
    padding: 15px 290px;
    text-decoration: none;
}

.history-btn {
    color: aliceblue;
    padding: 15px 290px;
    text-decoration: none;
}

title {
    filter: drop-shadow(2px 2px 1px);
    color: rgb(0 , 0, 0.5);
}

h1 {
    filter: drop-shadow(2px 2px 1px);
    color: whitesmoke;
    text-align: center;
    font-size: 55px;
    font: bold;
}

h2, h3 {
        filter: drop-shadow(2px 2px 1px);
        color: rgb(0 , 0, 0.5);
        text-align: center;
        font-size: 35px;
        text-decoration: underline;
}

/* targets the image element and aligns the images in the center of the page */

img {
    text-align: center;
    float: none;
    margin: 0 auto;
    display: block;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    width: 500px;
    height: 500px;
}

p, li, ul {
    padding: 15px;
    text-align: justify;
    font-size: 20px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

input {
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text] {
    border: 2px solid blue;
    border-radius: 4px;
    background-color: #affffa;
    color: black;
}

input [type=button], input[type=submit], input[type=reset] {
    background-color: #04aa6d;
    border: none;
    color: whitesmoke;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input [type=radio]::before {
    display: none;
}

table, th, td {
    border: 1px solid;
    width: auto;
}

table {
    border-collapse: collapse;
}